@import "tailwindcss";
@layer utilities {
  @keyframes gradient-move {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .animate-gradient-move {
    animation: gradient-move 2s linear infinite;
  }
}
